<!-- Copyright © by David M. Spenhoff. All rights reserved -->

<div id="selector">
	<p><span style="font-weight: bold;">New scenario generator</span></p>
	
	<%= form_tag url_for(:controller => 'deals', :action => 'create_new_scenario') do %>
    <p>Number of deals? <%= text_field_tag :num_deals, params[:num_deals], :size => 8 %></p>
	  <p>Number of regions? <%= text_field_tag :num_regions, params[:num_regions], :size => 8 %></p>
    <p>Number of reps? <%= text_field_tag :num_reps, params[:num_reps], :size => 8 %></p>
    <p>Number of histories per rep? <%= text_field_tag :num_histories, params[:num_histories], :size => 8 %></p>
    <p>Over achieving reps (%)? <%= text_field_tag :over_achieve, params[:over_achieve], :size => 8 %></p>
    <p>Under achieving reps (%)? <%= text_field_tag :under_achieve, params[:under_achieve], :size => 8 %></p>
    <p>Deep deals? <%= check_box_tag :deep_deals, "yes" %>
	  <p>
		  <%= submit_tag "Create Scenario" %>
		  <%= link_to 'Cancel', deals_path %> 
		</p>
	<% end %>
	<p>	</p>
</div>
<div>
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div>