<!-- Copyright © by David M. Spenhoff. All rights reserved -->

<div id="selector">
	<p>New region</p>
	<p>	</p>
	<p>	</p>
</div>

<%= form_for(@region) do |f| %>
  <%= f.error_messages %>
  
  <table>
    <tr>
      <td class = "view_table_name">Name</td>
      <td><%= f.text_field :name %></td>
    </tr>
  </table>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', regions_path %>