<!-- Copyright (c) by David M. Spenhoff. All rights reserved -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

<!-- header starts here -->
<div id="header">
  <!-- title starts here -->
	<div id="title">
	  <div id="logo"><%= image_tag 'duck-logo.png', :size => '100x82', :alt => 'duck-logo' %></div>
		<h1>Deal<span style="color:#f07820; font-style:italic;">duck</span></br><span style="font-size:.7em;">Sales Forecast+Risk Analytics</span></h1>
	</div>
	<!-- title ends here -->
	
	<!-- menu starts here -->
	<div id="menu">
	  <ul> 
  		<li><%= link_to 'Home', home_index_path %></li>
  		<li><%= link_to 'Deals', deals_path %></li>
  		<li><%= link_to 'Reps', reps_path %></li>
  		<li><%= link_to 'Regions', regions_path %></li>
  		<li><%= link_to 'Analytics', analytics_path %></li>
  		<li><%= link_to 'Scenarios', scenarios_path %></li>
  		
    </ul>
	</div>
  <!-- menu ends here -->
    
  <!-- the page location tracking 'breadcrumb' -->
  <div id="breadcrumb"><%= @page_title %></div>
  
</div>
<!-- end of header -->	

<!-- the flash notice /alert -->

<% if flash[:notice] then %>
<br /><br />
<p id="notice_red">Notice: <%= flash[:notice] %><p>
<% end %>


	<!-- content from application views -->
	<%= yield %>

	<!-- footer -->
	<div id="footer">
		<br />
	  <hr />
		<p>
			&copy; Copyright 2012&ndash;2013 <a href="http://www.linkedin.com/in/davidspenhoff/">David Spenhoff</a>. All rights reserved. 
		</p>
	</div>
	
</body>
</html>
